		<div class="main-wrapper logon" >

			<div class="logon-area">

				<div class="logon-title">
					<h2>LOG IN or SIGN UP </h2>
				</div>

				<div class="form-area"> 

					<div style="margin-left:15%">
						<fieldset>
							<legend>LOG IN</legend>

							<div class="area login">

								<form>
									<div class="clearfix">
										Username / Email : <br/>
									</div>

									<input > <br/><br/>

									<div class="clearfix">
										Password : <br/>
									</div>
									<input type="password">



									<br/><br/>
									<div class="clearfix">

										<a style="color:#03266D" href="#"><b>Lupa Password?</b></a>
										<br/><br/>
									</div>


									<input class="submit" type="submit" value="LOG IN">


								</form>
							</div>

						</fieldset>
					</div>

					
					


					<div class="area signup">


						<fieldset>
							<legend>SIGN UP</legend>

							<div class="area login">

								<form>
									<div class="clearfix">
										Username <br/>
									</div>

									<input > <br/><br/>

									<div class="clearfix">
										Email : <br/>
									</div>

									<input type="email"> <br/><br/>

									<div class="clearfix">
										Password : <br/>
									</div>
									<input type="password">



									<br/><br/>

									<div class="clearfix">
										Confirm Password : <br/>
									</div>
									<input type="password">



									<br/><br/>



									<input class="submit" type="submit" value="SIGN UP">


								</form>
							</div>

						</fieldset>


					</div>

				</div>
			</div>
		</div>